body{
    font-family: Montserrat;
    text-align: center;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;    
}
p{
    color: #8f8f8f;
    font-weight: 500;
}

.container-fluid{
    padding: 3% 15% 7%;
}




/* Headings */
.big-heading{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}
/* Sections */
.coloured-section{
    background-color: #ff4c68;
    color: #fff;

}
.white-section{
    background-color: #fff;

}
/* Flat-Icon */
.flaticon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.flaticon:hover{
    color: #ff4c68;
}

/* Navigation-Bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-size: Montserrat;
    font-weight: 300;
}

/* Title */

#title{
    
    text-align: left;
}
#title.container-fluid{
    padding: 3% 15% 7%;
}

/* Features */
#features{
    padding: 7% 15%;
    padding: 5%;
}
.feature-box{
    text-align: center;
}
.feature-title{
    font-weight: 800;
    font-size: 1.5rem;
}
.features{
    width: 55%;
    margin-left: 25%;
    color:#8f8f8f;
    font-family: 'Montserrat', sans-serif;
    
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Navigation-Image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
}    
/* Testimonial Section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}
.price-title{
    font-weight: 800;
    font-size: 1.5rem;
}
.price-text{
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-coloumn{
    padding: 3% 2%;
}
.basic{
    margin-top: 35px;
}
@media (max-width:1215px){
    #title{
        text-align: center;
    }
    
    .title-image{
        transform: rotate(0);
    }
}
/* cta */
#cta{
    background-color: #ff4c68;
    color: #fff;
padding: 7% 15%;
    text-align: center;
}
.cta-h3{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* Footer */
#footer{
padding: 7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 20px 10px;
}
.footer-text{
    color:#8f8f8f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}








